.chart-legend
  .header Legend
  .body
    .search
      focus-input(
        focusDelay=200
        oninput=$helpers.searchHandler
        type='text'
      )
    - const formattedSeriesName = util.renameProperty(report.legend.currentSeries)
    .info
      .name= formattedSeriesName
      .count #{$helpers.selectedSeriesCount()}/#{$helpers.totalSeriesCount()}
    ul.series-names
      li
        button.select-all(
          class={showing: $helpers.allSeriesSelected()}
          onclick=$helpers.resetLegend
        )
          .icon
          .label= `Select all ${formattedSeriesName} segments`
      each series in $helpers.seriesData()
        li
          button.series(
            class={showing: $helpers.isSeriesShowing(series)}
            onclick=() => $helpers.toggleShowSeries(series)
          )
            .icon
            .label= $helpers.renameSeriesValue(series)
