.chart-legend
  .header Legend
  .body
    .search
      focus-input(
        focusDelay=200
        oninput=$helpers.searchHandler
        type='text'
      )
    .info
      .name= util.renameEvent(report.series.currentSeries)
      .count #{$helpers.selectedSeriesCount()}/#{$helpers.totalSeriesCount()}
    ul.series-names
      each series in $helpers.seriesData()
        li
          button.series(
            class=$helpers.isSeriesShowing(series) ? 'showing' : 'hidden'
            onclick=() => $helpers.toggleShowSeries(series)
          )
            .icon
            .label= $helpers.renameSeries(series)
