include ./mixins.jade

- const selectedMath = $helpers.getActiveClauseProperty('math');
- const selectedResourceType = $helpers.getActiveClauseProperty('resourceType');
- const selectedValue = $helpers.getActiveClauseProperty('value');
- const selectedValueName = selectedValue && selectedValue.name;

.show-pane-content
  ul.column.toggle.math
    for math in $component.constants.mathChoices
      li(
        class={selected: math === selectedMath}
        onclick=() => $helpers.updateStageClause({math})
      )= util.capitalize(math)
  ul.column.toggle.resource-type
    for resourceType in $component.resourceTypeChoices
      li(
        class={selected: resourceType === selectedResourceType}
        onclick=() => $helpers.updateStageClause({resourceType})
      )= util.capitalize(resourceType)
  ul.column.resource-value

    if $helpers.showResource('events', selectedResourceType)
      li.resource-title Events
      for value in $component.eventChoices
        - const valueName = util.renameEvent(value.name)
        - const matches = $helpers.searchMatches(valueName)
        if !!matches
          li(
            class={selected: value.name === selectedValueName, custom: !!value.custom}
            onclick=() => $helpers.updateStageClause({property: null, value}, true)
            title=valueName
          )
            - const attrs = !!value.custom ? {icon: 'custom-events'} : {empty: true}
            svg-icon(attributes=attrs)
            +highlight-matches(matches)
            button.next-arrow(onclick=ev => $helpers.onArrowClick(ev, value)) ›

    if $helpers.showResource('properties', selectedResourceType)
      li.resource-title Event properties
      for property in $component.eventPropertyChoices
        +property-entry(property, property.name === selectedValueName)
      li.resource-title People properties
      for property in $component.peoplePropertyChoices
        +property-entry(property, property.name === selectedValueName)
