- let label = helpers.getLabel();
- label = typeof label === 'string' ? [label] : label;

.irb-control(class=helpers.getClass())
  button(ev-click=helpers.clickHandler)
    for part, i in label
      span= part
      if i < label.length - 1
        span.preposition= helpers.getLabelConnector()
  div(class=helpers.isOpen() ? 'visible' : 'hidden')= views.pane(state)
