.control-view(class=[elementClass, constants.class || helpers.getClass()])
  button.modify(ev-click=event => helpers.updatePosition(event) && helpers.openPane(state.clauseIndex))
    - const label = constants.label || helpers.getLabel(state.clauseIndex)
    if typeof label === 'string'
      span= label
    else
      for part, i in label
        if i % 2
            span.preposition= ` ${part} `
        else
          span= part
  if constants.showRemove
    button.remove(ev-click=() => helpers.removeClause(state.clauseIndex))
  if helpers.isPaneOpen(state.clauseIndex)
    .pane-container(
      style={
        height: `${constants.paneHeight}px`,
        width: `${constants.paneWidth}px`,
        left: `${helpers.getPaneLeft()}px`,
      }
    )= views.pane(state)
