- let selectedTypeIndex = state.editingClause && constants.resourceTypeChoices.indexOf(state.editingClause.resourceType);
- let selectedValueIndex = state.editingClause && state.topProperties.indexOf(state.editingClause.value);

div(class=elementClass)
  ul.column
    for type, i in constants.resourceTypeChoices
      li(
        class=selectedTypeIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateClause(state.clauseIndex, {type}),
      )= util.capitalize(type)
  ul.column
    for value, i in state.topProperties
      if helpers.matchesSearch(util.renameProperty(value))
        li(
          class=selectedValueIndex === i ? 'selected' : '',
          ev-click=() => helpers.selectProperty(state.clauseIndex, value),
        )= util.renameProperty(value)
