.section(class=elementClass)
  if !state.sections.filter.clauses.length
    .clause.filter
      if helpers.isAddingClause()
        .preposition where
      .control-container= views.addControl(state)
  else
    for clause, clauseIndex in state.sections.filter.clauses
      .preposition= clauseIndex ? 'and' : 'where'
      .clause.filter
        .control-container= views.editControl(util.extend(state, {clauseIndex}))
        if clauseIndex == state.sections.filter.clauses.length - 1
          if helpers.isAddingClause()
            .preposition and
          .control-container= views.addControl(state)
