.section(class=[className, helpers.isDisabled() ? 'disabled' : ''])
  if !state.groupSection.length
    .clause.group
      h3
      .control-container= views.addControl(state)
  else
    for group, index in state.groupSection
      .preposition= index ? 'and by' : 'by'
      .clause.group
        h3= 'Group' + (state.groupSection.length === 1 ? '' : ' ' + (index + 1))
        .control-container= views.editControl(util.extend(state, {index}))
        if state.groupSection.length < 2 && index == state.groupSection.length - 1
          .control-container= views.addControl(state)
