.section(class=[elementClass, helpers.isDisabled() ? 'disabled' : ''])
  if !state.groupSection.length
    .clause.group
      h3
      .control-container= views.addControl(state)
  else
    for group, clauseIndex in state.groupSection
      .preposition= clauseIndex ? 'and' : 'by'
      .clause.group
        h3= 'Group' + (state.groupSection.length === 1 ? '' : ' ' + (clauseIndex + 1))
        .control-container= views.editControl(util.extend(state, {clauseIndex}))
        if state.groupSection.length < 2 && clauseIndex == state.groupSection.length - 1
          .control-container= views.addControl(state)
