- let selectedTypeIndex = state.editing && constants.resourceTypeChoices.indexOf(state.editing.type);
- let selectedValueIndex = state.editing && state.events.indexOf(state.editing.value);

div(class=className)
  ul.column.resourceType
    for type, i in constants.resourceTypeChoices
      li(
        class=selectedTypeIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateSection({type}),
      )= helpers.capitalize(type)
  ul.column.resourceValue
    for value, i in state.properties
      li(
        class=selectedValueIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateSection({value}),
      )= helpers.renameProperty(value)
