.section.irb-group-view
  if !groupSection.length
    .clause.group
      h3
      .control-container= views.addControl(state)
  else
    for group, index in groupSection
      .preposition= index ? 'and by' : 'by'
      .clause.group
        h3= 'Group' + (groupSection.length === 1 ? '' : ' ' + (index + 1))
        .control-container= views.editControl(state, index)
        if index == groupSection.length - 1
          .control-container= views.addControl(state)
