div(class=className)
  if constants.header || helpers.getHeader
    .header= constants.header || helpers.getHeader(props)
  if views.preSearch
    .pre-search= views.preSearch(state, props)
  if constants.search
    .search
      input(type='text')
  if views.content
    .content= views.content(state, props)
  if views.footer
    .footer= views.footer(state, props)
