div(class=elementClass)
  if constants.header || helpers.getHeader
    .header= constants.header || helpers.getHeader(state)
  if views.preSearch
    .pre-search= views.preSearch(state)
  if constants.search
    .search
      input(type='text' ev-input=event => helpers.updateSearch(state.index, event.target.value))
  if views.content
    .content= views.content(state)
  if views.footer
    .footer= views.footer(state)
