mixin pane(paneViews, paneIndex)
  - const paneConstants = constants.panes ? constants.panes[paneIndex] : {};
  - const header = constants.header || helpers.getHeader(paneIndex);

  if header
    .header
      span= header
      if paneIndex
        button.back(ev-click=() => helpers.updateClause(state.clauseIndex, {paneIndex: paneIndex - 1}))

  if paneConstants.search !== false && constants.search !== false
    .search
      input(type='text' ev-input=event => helpers.updateClause(state.clauseIndex, {search: event.target.value}))

  if paneViews.content
    .content= paneViews.content(util.extend(state, {paneIndex}))

  if paneViews.footer
    .footer= paneViews.footer(state)

.pane-view(class=elementClass)
  if views.panes
    - const activeIndex = helpers.getPaneIndex(state.clauseIndex);
    for paneViews, paneIndex in views.panes
      .pane(style={
        '-webkit-transform': `translateX(${(paneIndex - activeIndex) * 400}px)`,
        transform: `translateX(${(paneIndex - activeIndex) * 400}px)`,
      })
        +pane(paneViews, paneIndex)
  else
    .pane.active
        +pane(views)
