- const selectedProperty = state.editingClause && state.editingClause.value;
- const selectedType = state.editingClause && state.editingClause.filterType;
- const selectedOperator = state.editingClause && state.editingClause.filterOperator;
- const selectedValue = state.editingClause && state.editingClause.filterValue;
- const selectedDateUnit = state.editingClause && state.editingClause.filterDateUnit;

.pane-content-view(class=[elementClass, selectedType ? `filter-type-${selectedType}` : ''])
  table.tabs
    tbody
      tr
        for typeChoice in constants.filterTypeChoices
          td(class=['type-' + typeChoice, typeChoice === selectedType ? 'selected' : ''])
            button(
              ev-click=() => helpers.updateClause({filterType: typeChoice, filterValue: null, filterSearch: null, editing: null})
            )= util.renamePropertyType(typeChoice)

  if selectedType

    // "operator" input - present on all panes

    if selectedType === 'boolean' || selectedType === 'list'
      .filter-operator-input= views.operatorToggle()
    else
      .filter-operator-input= views.operatorDropdown()

    // type-specific inputs

    if selectedType === 'string'
      if selectedOperator === 'equals' || selectedOperator === 'does not equal'
        if selectedValue && selectedValue.length
          .filter-string-equals-summary= `${selectedValue.length} selected`

        .filter-string-equals-search.search
          input(
            type='text'
            value=state.editingClause.filterSearch
            ev-input=event => helpers.updateClause({filterSearch: event.target.value})
          )

        ul.filter-string-equals-choices
          for value in helpers.getValueMatches(state.editingClause.filterSearch)
            li(class=selectedValue && selectedValue.indexOf(value) !== -1 ? 'selected' : '')
              button(ev-click=() => helpers.toggleStringEqualsValueSelected(value))= value

      else if selectedOperator === 'contains' || selectedOperator === 'does not contain'
        .filter-value-input
          input(
            type='text'
            value=selectedValue
            ev-input=event => helpers.updateClause({filterValue: event.target.value})
          )

          if selectedValue
            ul.filter-string-contains-matches
              for value in helpers.getValueMatches(selectedValue, selectedOperator === 'does not contain')
                li= value

    else if selectedType === 'number'
      if selectedOperator === 'is between'
        - const betweenStart = selectedValue ? selectedValue[0] : null;
        - const betweenEnd = selectedValue ? selectedValue[1] : null;
        .filter-value-input.filter-operator-between
          input(
            type='number'
            value=betweenStart
            ev-input=event => helpers.updateClause({filterValue: [Number(event.target.value), betweenEnd]})
          )
          .connector and
          input(
            type='number'
            value=betweenEnd
            ev-input=event => helpers.updateClause({filterValue: [betweenStart, Number(event.target.value)]})
          )
      else
        .filter-value-input
          input(
            type='number'
            value=selectedValue
            ev-input=event => helpers.updateClause({filterValue: Number(event.target.value)})
          )

    else if selectedType === 'datetime'
      if selectedOperator === 'was between' || selectedOperator === 'was on'
        - const from = selectedValue ? selectedValue[0] : null;
        - const to = selectedValue ? selectedValue[1] : null;
        .filter-value-input
          irb-date-picker(
            value=JSON.stringify({from, to})
            ev-change=event => helpers.updateClause({filterValue: [new Date(event.target.value.from), new Date(event.target.value.to)]})
          )
      else
        .filter-value-input.filter-days-ago
          input(
            type='number'
            value=selectedValue
            ev-input=event => helpers.updateClause({filterValue: Number(event.target.value)})
          )
          .filter-unit-input= views.dateUnitDropdown()
          .connector ago

    else if selectedType === 'list'
      .filter-value-input
        input(
          type='text'
          value=selectedValue
          ev-input=event => helpers.updateClause({filterValue: event.target.value})
        )
