- const selectedTypeIndex = state.editingClause && constants.resourceTypeChoices.indexOf(state.editingClause.resourceType);
- const selectedValueIndex = state.editingClause && state.topProperties.indexOf(state.editingClause.value);

.pane-content-view(class=elementClass)
  ul.column.toggle.resource-type
    for resourceType, i in constants.resourceTypeChoices
      li(
        class=selectedTypeIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateClause(state.clauseIndex, {resourceType}),
      )= util.capitalize(resourceType)
  ul.column.resource-value
    for property, i in state.topProperties
      if helpers.matchesSearch(util.renameProperty(property.name))
        li.property(
          class=[`type-${property.type}`, selectedValueIndex === i ? 'selected' : ''],
          ev-click=() => helpers.selectProperty(state.clauseIndex, property),
        )
          span= util.renameProperty(property.name)
          button.next-arrow ›
