- let selectedMathIndex = state.editingClause && constants.mathChoices.indexOf(state.editingClause.math);
- let selectedTypeIndex = state.editingClause && constants.resourceTypeChoices.indexOf(state.editingClause.resourceType);
- let selectedValueIndex = state.editingClause && constants.eventChoices.indexOf(state.editingClause.value);

div(class=elementClass)
  ul.column.math
    for math, i in constants.mathChoices
      li(
        class=selectedMathIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateClause(state.clauseIndex, {math}),
      )= util.capitalize(math)
  ul.column.resourceType
    for type, i in constants.resourceTypeChoices
      li(
        class=selectedTypeIndex === i ? 'selected' : '',
        ev-click=() => helpers.updateClause(state.clauseIndex, {type}),
      )= util.capitalize(type)
  ul.column.resourceValue
    for value, i in constants.eventChoices
      if helpers.matchesSearch(util.renameEvent(value))
        li(
          class=selectedValueIndex === i ? 'selected' : '',
          ev-click=() => helpers.updateClause(state.clauseIndex, {value}),
        )= util.renameEvent(value)
