mixin add()
  button.verb.add Compare
    div= views.addPane(state)

.control.irb-show-view
  if !showSection.length
    .subject.comparison
      h3
      +add()
  else
    for comparison, index in showSection
      if index
        .preposition and
      .subject.comparison
        h3= 'Show' + (showSection.length === 1 ? '' : ' ' + (index + 1))
        button.noun
          span= helpers.formatMath(comparison)
          span.preposition= ' of '
          span= helpers.formatValue(comparison)
        if index === showSection.length - 1
          +add()
