- const selectedMathIndex = state.editingClause && constants.mathChoices.indexOf(state.editingClause.math);
- const selectedTypeIndex = state.editingClause && constants.resourceTypeChoices.indexOf(state.editingClause.resourceType);
- const selectedValueIndex = state.editingClause && constants.eventChoices.indexOf(state.editingClause.value);

div(class=elementClass)
  ul.column.toggle.math
    for math, i in constants.mathChoices
      li(
        class=[selectedMathIndex === i ? 'selected' : '', (math === 'sum' || math === 'median') ? 'disabled' : '']
        ev-click=() => helpers.updateClause(state.clauseIndex, {math})
      )= util.capitalize(math)
  ul.column.toggle.resource-type
    for resourceType, i in constants.resourceTypeChoices
      li(
        class=[selectedTypeIndex === i ? 'selected' : '', resourceType !== 'all' ? 'disabled' : '']
        ev-click=() => helpers.updateClause(state.clauseIndex, {resourceType})
      )= util.capitalize(resourceType)
  ul.column.resource-value
    for value, i in constants.eventChoices
      if helpers.matchesSearch(util.renameEvent(value))
        li(
          class=selectedValueIndex === i ? 'selected' : '',
          ev-click=() => helpers.updateClause(state.clauseIndex, {value}, true),
        )
          span= util.renameEvent(value)
          button.next-arrow ›
