.section(class=elementClass)
  if !state.showSection.length
    .clause.comparison
      h3
      .control-container= views.addControl(state)
  else
    for comparison, index in state.showSection
      if index
        .preposition and
      .clause.comparison
        h3= 'Show' + (state.showSection.length === 1 ? '' : ' ' + (index + 1))
        .control-container= views.editControl(util.extend(state, {index}))
        if index === state.showSection.length - 1
          .control-container= views.addControl(state)
