- const selectedMath = state.stageClause && state.stageClause.math;
- const selectedResourceType = state.stageClause && state.stageClause.resourceType;
- const selectedValue = state.stageClause && state.stageClause.value;

div(class=elementClass)
  ul.column.toggle.math
    for math in constants.mathChoices
      li(
        class=[math === selectedMath ? 'selected' : '', (math === 'sum' || math === 'median') ? 'disabled' : '']
        ev-click=() => helpers.updateStageClause({math})
      )= util.capitalize(math)
  ul.column.toggle.resource-type
    for resourceType in constants.resourceTypeChoices
      li(
        class=[resourceType === selectedResourceType ? 'selected' : '', resourceType !== 'all' ? 'disabled' : '']
        ev-click=() => helpers.updateStageClause({resourceType})
      )= util.capitalize(resourceType)
  ul.column.resource-value
    for value in constants.eventChoices
      if helpers.matchesSearch(util.renameEvent(value))
        li(
          class=value === selectedValue ? 'selected' : '',
          ev-click=() => helpers.updateStageClause({value}, true),
        )
          span= util.renameEvent(value)
          button.next-arrow ›
