- const isStacked = chartOptions.plotStyle == 'stacked';
- const headersToDisplay = $helpers.headersToDisplay();

.bar-chart
  table
    thead
      tr
        th(colSpan=0)
          irb-bar-chart-header(
            attributes={
              'chart-max': JSON.stringify(chartMax),
              'headers': JSON.stringify(headersToDisplay),
              'math-types': JSON.stringify(mathTypes),
              'show-value-names': JSON.stringify(showValueNames),
              'sort-config': JSON.stringify(sortConfig),
            }
            onclick=$helpers.headerClick
          )
    tbody
      tr
        for col, ci in headersToDisplay
          td.sort-holder(class={'active-sort-panel': ci === headerSortPanel})
            .sort-controls
              .sort-type.sort-label-asc
              .sort-type.sort-label-desc
              .sort-type.sort-value-asc
              .sort-type.sort-value-desc
        td.sort-holder
      for row, i in rows
        tr
          for cell, j in row
            if cell
              if j < row.length - 1
                - const headerText = headersToDisplay[j] === '$event' ? 'Events' : util.renameProperty(headersToDisplay[j]);
                - const getLabel = value => headersToDisplay[j] === '$event' ? util.renameEvent(value) : util.renamePropertyValue(value);

                if !(Array.isArray(cell) && isStacked && rows.length > 1)
                  td.chart-header(
                    rowSpan=cell.rowSpan || 1
                    style={'min-width': `${$helpers.getHeaderWidth(headerText)}px`}
                  )
                    if !Array.isArray(cell) || isStacked
                      - const cellLabel = isStacked && rows.length == 1 ? showValueNames[0] : cell.value
                      span(title=getLabel(cellLabel))= getLabel(cellLabel)
                    else
                      ul
                        for value in cell
                          li(title=getLabel(value))= getLabel(value)

              else
                td.chart-data
                  .chart-grid
                    each _ in Array(5).fill()
                      .grid-line
                  ul(class={stacked: isStacked})
                    for value, k in cell
                      - const percentValueString = `${Math.floor(value / chartMax * 10000) / 100}%`
                      - const segmentName = row[j - 1][k]
                      li.chart-bar(
                        style={width: percentValueString}
                        onmouseenter=(ev) => $helpers.onMouseEnter(ev, segmentName, value, percentValueString)
                        onmouseleave=$helpers.onMouseLeave
                      )
                        .background(class=`background-color-${(k % 8) + 1}`)
                        if value / chartMax > .06
                          .label= util.abbreviateNumber(value)

  //- For the hover tool tip to break out of the scroll overflow we are manually calculating where it should be on the screen.
  //- TODO When we change how scrolling works for results: place a tooltip on each li.chart-bar and use CSS to show/hide.
  if hoverTooltip.show
    .hover-label(
      style={top: hoverTooltip.cssTop, left: hoverTooltip.cssLeft}
      onmouseenter=$helpers.onMouseEnter
      onmouseleave=$helpers.onMouseLeave
    )
      .content
        .title= hoverTooltip.name
        .results
          .count= hoverTooltip.value
          .percent= hoverTooltip.percent
