- const {headers, rows, chartMax, gridLineDistance} = $helpers.formatChartData();
- const gridLineWidth = gridLineDistance / chartMax * 100;
- const numGridLines = chartMax && gridLineDistance ? Math.floor(chartMax / gridLineDistance) : 0;
- const gridLines = new Array(numGridLines).fill(gridLineWidth);

.bar-chart
  table
    thead
      tr
        th(colSpan=0)
          irb-bar-chart-header(
            headers=JSON.stringify(headers)
            chartMax=JSON.stringify(chartMax)
          )
    tbody
      for row, i in rows
        tr
          for cell, j in row
            if cell
              if j + 1 < row.length
                - const headerText = headers[j] === '$events' ? 'Events' : util.renameProperty(headers[j]);
                - const getLabel = value => headers[j] === '$events' ? util.renameEvent(value) : util.renamePropertyValue(value);

                td.chart-header(
                  rowSpan=cell.rowSpan || 1
                  style={'min-width': `${util.getTextWidth(headerText, 'bold 14px Helvetica')}px`}
                )
                  if Array.isArray(cell)
                    ul
                      for value in cell
                        li(title=getLabel(value))= getLabel(value)
                  else
                    span(title=getLabel(cell.value))= getLabel(cell.value)
              else
                td.chart-data
                  .chart-grid
                    for width in gridLines
                      .chart-line(style={width: `${width}%`})
                  ul
                    for value, k in cell
                      li.chart-bar(
                        class=value / chartMax < .06 ? 'narrow' : ''
                        style={width: `${value / chartMax * 100}%`}
                      )
                        .background(style={opacity: 1 - (0.6 * k / cell.length)})
                        .label= util.commaizeNumber(value)
