.irb-control(class=$helpers.getClass())
  button.modify(onclick=$helpers.clickModify)
    - const label = $helpers.getLabel()
    if typeof label === 'string'
      span= label
    else
      for part, i in label
        if i % 2
            span.preposition= ` ${part} `
        else
          span= part
  if $helpers.isRemoveable()
    button.remove(onclick=$helpers.removeClause)
  if $helpers.isPaneOpen()
    .pane-container(style={
      height: `${$component.constants.paneHeight}px`,
      width: `${$component.constants.paneWidth}px`,
      left: `${$helpers.getPaneLeft()}px`,
    })
      .pane-view= $component.child(`${$component.section}-pane`)
