.irb-control(class=[$component.constants.class || $helpers.getClass()])
  button.modify(onclick=$helpers.clickModify)
    - const label = $component.constants.label || $helpers.getLabel()
    if typeof label === 'string'
      span= label
    else
      for part, i in label
        if i % 2
            span.preposition= ` ${part} `
        else
          span= part
  if $component.constants.showRemove
    button.remove(onclick=$helpers.removeClause)
  if $helpers.isPaneOpen()
    .pane-container(
      style={
        height: `${$component.constants.paneHeight}px`,
        width: `${$component.constants.paneWidth}px`,
        left: `${$helpers.getPaneLeft()}px`,
      }
    )= $component.child('show-pane')
