.irb-control.old-query-builder(class=$component.elementClass)
  button.modify(onclick=$helpers.clickModify)
    if typeof $component.label === 'string'
      span= $component.label
    else if $component.label
      for part, i in $component.label
        if i % 2
            span.preposition= ` ${part} `
        else
          span= part
  if $component.isRemoveable
    button.remove(onclick=$helpers.removeClause)
  if $component.isPaneOpen
    .pane-container(style={
      height: `${$component.constants.paneHeight}px`,
      width: `${$component.constants.paneWidth}px`,
      left: `${$helpers.getPaneLeft()}px`,
    })
      .pane-view= $component.child(`${$component.section}-pane`)
      .calendar-hook
