include ../../mixins.jade

.chart-controls-container
  .chart-toggle.chart-control= $component.child('chart-toggle')

  // TODO DEBUG CODE - remove when we switch fully to new Insights API
  if $component.app.compareApis
    - const faster = newApiQueryTimeMS < oldApiQueryTimeMs ? `Insights API` : `JQL API`;
    - const percent = Math.round(Math.abs(newApiQueryTimeMs - oldApiQueryTimeMs) / Math.max(newApiQueryTimeMs, oldApiQueryTimeMs) * 100);
    - const title = `${faster} ${percent}% faster\nInsights API took ${newApiQueryTimeMs}ms\nJQL API took ${oldApiQueryTimeMs}ms`;
    mp-toggle(
      attrs={
        title,
        selected: showingOldApiResult ? `old` : `new`,
        square: true,
        style: `width: 220px`,
      }
      on={
        select: $helpers.toggleResult,
      }
    )
      mp-toggle-option(attrs={value: `new`})
        | API
        if newApiQueryTimeMs
          | #{` `}(#{util.commaizeNumber(newApiQueryTimeMs)} ms)
      mp-toggle-option(attrs={value: `old`})
        | JQL
        if oldApiQueryTimeMs
          | #{` `}(#{util.commaizeNumber(oldApiQueryTimeMs)} ms)
  // END DEBUG CODE
