mixin sort-icon(headerIdx)
  - const isAxis = !isFinite(headerIdx)
  .sort-icon(class={
    'sort-axis': isAxis,
    'sort-bar-header': !isAxis,
  })
    - const icon = isAxis ? $helpers.getAxisSortIcon() : $helpers.getHeaderSortActive(headerIdx);
    svg-icon(attributes=({icon, empty: !icon}))


mixin sort-holder(type, sortByOptions, sortOrderOptions, headerIdx)
  - headerIdx = headerIdx || 0
  .sort-holder
    .sort-controls
      each sortBy in sortByOptions
        each sortOrder in sortOrderOptions
          .sort-icon(onclick=() => $helpers.selectedHeaderSort(type, headerIdx, sortBy, sortOrder))
            svg-icon(attributes=({icon:`sort-${$helpers.SORT_ICONS[sortBy]}-${sortOrder}`}))

.chart-header-container
  each header, idx in headersStyle
    .bar-chart-header(
      class={'active-sort-panel': activeSortPanel === idx}
      onclick=() => $helpers.clickedHeader(idx)
      style={width: `${header.width}px`}
    )
      .text= $helpers.renameHeaderLabel(header.name)
      +sort-icon(idx)
      +sort-holder(`colSort`, [`label`, `value`], [`asc`, `desc`], idx)
  .bar-chart-axis(
    class={'active-sort-panel': activeSortPanel === `axis`}
    onclick=() => $helpers.clickedHeader(`axis`)
    style={width: axisWidthStyle}
  )
    .axis-title
      .text= chartLabel
      +sort-icon()
      +sort-holder(`axisSort`, [`value`], [`asc`, `desc`])
    .max-value
      .text(onclick=$helpers.clickedMaxValue)= $helpers.getMaxValueLabel()
