mixin sort-icon(colAccessor)
  - const isAxis = !isFinite(colAccessor)
  .sort-icon(
    class={
      'sort-axis': isAxis,
      'sort-bar-header': !isAxis,
    }
    onclick=() => $helpers.clickedHeader(colAccessor)
  )
    - const icon = isAxis ? $helpers.getAxisSortIcon() : $helpers.getHeaderSortActive(colAccessor);
    svg-icon(attributes=({icon, empty: !icon}))


mixin sort-holder(type, sortByOptions, sortOrderOptions, colAccessor)
  .sort-holder
    mp-drop-menu.sort-controls(
      attributes={open: activeSortPanel === colAccessor}
      onchange=ev => $helpers.menuChange(ev, colAccessor)
    )
      each sortBy in sortByOptions
        each sortOrder in sortOrderOptions
          .sort-icon(onclick=() => $helpers.selectedHeaderSort(type, colAccessor, sortBy, sortOrder))
            svg-icon(attributes=({icon:`sort-${$helpers.SORT_ICONS[sortBy]}-${sortOrder}`}))

.chart-header-container
  if headersStyle
    each header, idx in headersStyle
      .bar-chart-header(style={width: `${header.width}px`})
        .text(onclick=() => $helpers.clickedHeader(idx))= $helpers.renameHeaderLabel(header.name)
        +sort-icon(idx)
        +sort-holder(`colSort`, [`label`, `value`], [`asc`, `desc`], idx)
    .bar-chart-axis(style={width: axisWidthStyle})
      .axis-title
        .text(onclick=() => $helpers.clickedHeader(`axis`))= chartLabel
        +sort-icon(`axis`)
        +sort-holder(`axisSort`, [`value`], [`asc`, `desc`], `axis`)
      .max-value
        .text(onclick=$helpers.clickedMaxValue)= $helpers.getMaxValueLabel()
