ul.chart-toggle(class={'editing-charttype': chartToggle.editingType})
  for chartType in $helpers.chartTypes()
    - const isEditingCurrentStyle = chartToggle.editingType === chartType
    - const selectedPlotStyle = $helpers.selectedPlotStyle(chartType)
    - const styleChoicesForChartType = $helpers.styleChoicesForChartType(chartType)
    li.chart-type(
      class=chartType
      class={editing: isEditingCurrentStyle}
    )
      .toggle-button
        button.label(
          class=[chartType, selectedPlotStyle]
          class={selected: chartType == report.displayOptions.chartType}
          onclick=() => $helpers.onStyleClick(chartType, selectedPlotStyle)
        )
          svg-icon(attributes={icon: chartType})
          = $helpers.formattedChartName(chartType, selectedPlotStyle)
        if styleChoicesForChartType.length > 1
          button.dropdown(onclick=() => $helpers.onDropdownClick(chartType))
            svg-icon(attributes={icon: 'caret_down'})
      if isEditingCurrentStyle
        .chart-style.options
          each plotStyle in styleChoicesForChartType
            button.button-option(
              class=[chartType, plotStyle]
              class={selected: selectedPlotStyle == plotStyle}
              onclick=() => $helpers.onStyleClick(chartType, plotStyle)
            )
              - const icon = `${chartType}${plotStyle === `standard` ? `` : `_${plotStyle}`}`
              svg-icon(attributes={icon})
              = $helpers.formattedChartName(chartType, plotStyle)
