ul.toggle-view
  li(class={selected: isEditingExtrasMenu})
    button.extras-menu(
      class={selected: isEditingExtrasMenu}
      onclick=$helpers.onClickExtrasMenu
    )
      svg-icon(attributes={icon: 'ellipsis'})
    if isEditingExtrasMenu
      .extras-menu-options.options
        .analysis.section
          .title analysis
          ul
            each analysis in $helpers.analysisChoices()
              li
                button.button-option(
                  class=analysis
                  class={
                    selected: analysis == report.displayOptions.analysis,
                    disabled: $helpers.isAnalysisDisabled(analysis),
                  }
                  onclick=() => $helpers.onAnalysisClick(analysis)
                )
                  svg-icon(attributes={icon: `analysis-${analysis}`})
                  = analysis
        .value.section
          .title(class={disabled: $helpers.isValueToggleDisabled()}) value
          ul
            each value in $helpers.valueChoices()
              li
                button.button-option(
                  class=value
                  class={
                    selected: value == report.displayOptions.value,
                    disabled: $helpers.isValueToggleDisabled(),
                  }
                  onclick=() => $helpers.onValueClick(value)
                )
                  svg-icon(attributes={icon: `value-${value}`})
                  = value
