include ../mixins.jade

mixin header-col(text, field)
  - const fieldSelected = reportsDrawer.sortField === field
  .report-col(
    class={
      [`reportlist-field-${field}`]: true,
      'reportlist-field-selected': fieldSelected,
    }
    on={click: () => $helpers.clickHeader(field)}
  )
    .reportlist-col-title= text
    .reportlist-sort-arrows(class={
      'reportlist-sort-selected': fieldSelected,
      [`reportlist-sort-${reportsDrawer.sortOrder}`]: true,
    })
      .caret.caret-up
        svg-icon(attrs={icon: `triangle-up`})
      .caret.caret-down
        svg-icon(attrs={icon: `triangle-down`})

mixin user-filter-option(label, value)
  .user-filter-option(
    class={'user-filter-selected': value === reportsDrawer.userFilter}
    on={click: () => $helpers.changeUserFilter(value)}
  )= label

.reports-list-wrapper
  mp-drawer(
    attrs={hide: !reportsDrawerOpen}
    on={close: $helpers.close}
  )
    .reports-drawer-container
      if !Object.keys(savedReports).length
        .no-reports
          .no-reports-img
          h1 Saved reports
          p You haven't saved any reports yet.
      else
        .user-filter
          .user-filter-border-spacer.border-spacer-left
          +user-filter-option(`All`,          `all`  )
          .user-filter-border-spacer.border-spacer-left
          +user-filter-option(`Your reports`, `yours`)
          .user-filter-border-spacer.border-spacer-right

        .reportlist-search
          .reportlist-search-icon
            svg-icon(attrs={icon: `search`})
          if reportsDrawerOpen
            .input-focuser(hook={insert: $helpers.focusSearchInput})
          input(
            props={
              type: `text`,
              placeholder: `Search reports`,
              value: reportsDrawer.nameFilter,
            }
            on={
              blur: $helpers.changeNameFilter,
              change: $helpers.changeNameFilter,
              focusout: $helpers.changeNameFilter,
              input: $helpers.changeNameFilter,
              keypress: $helpers.changeNameFilter,
            }
          )
        .reports
          .report-row.header-row
            +header-col(`Report`, `title`)
            +header-col(`Creator`, `user`)
            +header-col(`Last modified`, `modified`)
          .report-results
            each report in $helpers.reportsForDisplay()
              - const initials = report.user.split(' ').map(s => s[0]).join('').toUpperCase()
              - const icon = report.displayOptions.chartType
              .report-row.body-row(
                class={[`icon-${icon}`]: !!icon}
                on={click: () => $helpers.clickReport(report)}
              )
                svg-icon(attrs={icon: icon, empty: !icon})
                .report-col.reportlist-field-title
                  if report.matches
                    +highlight-matches(report.matches)
                  else
                    = report.title
                .report-col.reportlist-field-user
                  .user-icon(class={[`color-${initials[0]}`]: true})
                    = initials
                    insights-mp-tooltip= report.user
                .report-col.reportlist-field-modified= report.modifiedStr
                .report-col.delete
                  if $helpers.hasWritePermissions()
                    svg-icon(attrs={icon: `trashcan`} on={click: ev => $helpers.clickDelete(ev, report)})

      .drawer-close-wrapper
        svg-icon(attrs={icon: 'x'} on={click: $helpers.close})

  - const toDelete = reportsDrawer.confirmDelete
  insights-mp-confirm-delete(
    attrs={open: !!toDelete, closeable: true}
    on={
      change: ev => $helpers.handleConfirmChange(ev.detail.state),
      submit: ev => ev.detail.action === `confirm` && $helpers.deleteReport(toDelete),
    }
  )
    if toDelete
      div
        .mp-confirm-delete-title Delete report
        .mp-confirm-delete-description
          | Are you sure you want to delete "#{toDelete.title}"?
          |  This action is permanent and cannot be undone.
          if $component.app.getBookmark(toDelete).include_in_dashboard
            br
            br
            | Deleting it will also remove it from all dashboards.
